@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --background: #26233a;
  --base1: #393552;
  --base1-bright: #3e3a5a;
  --text: #e0def4;
  --text-trans: #e0def4b0;
  --color: #ebbcba;

  --xxs: 12px;
  --xs: 13px;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --xl: 20px;
  --xxl: 22px;
  --md-heading: 32px;

  --radius: 0.2rem;
  --horizontal-margin: 10%;
  --transition: all 0.2s ease-in-out;

  --font-sans: "Roboto", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

html {
  overflow-y: overlay;
  height: -webkit-fill-available;
  height: stretch;
  height: fill-available;
  font-family: Inter, system-ui, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text);
}

@media screen and (max-width: 800px) {
  body {
    --horizontal-margin: 5%;
  }
}